# Java compiled class files
*.class

# Log files
*.log

# JVM crash logs
hs_err_pid*
replay_pid*

# Python virtual environment (if applicable)
venv/

# Ignore IntelliJ IDEA project files
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Maven target directory (for Java projects)
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Flink-specific files
flink-*.jar
flink-*.log
flink-*.out
flink-checkpoints/
flink-savepoints/
flink-logs/
flink-1.20.0

# VS Code settings (only needed if you use VS Code for some tasks)
.vscode/

# macOS system files
.DS_Store

#Data files
*.json
events.*

#Env variables
.env
